.venv/
*.pyc
__pycache__/
.DS_Store

# add all the folders in the data folder that start with Training
data/Training*/

# add the action sequences folder
results/*/action_sequences/

# add the reward plots per scenario
results/*/plots/reward-plots-per-scenario/