.venv/
*.pyc
__pycache__/
.DS_Store

# add Training and Testing folders
data/Training*/
data/Testing*/

# add the action sequences folder
results/*/action_sequences/

# add the reward plots per scenario
results/*/plots/reward-plots-per-scenario/

# Ignore Jupyter notebook checkpoints and output
# .ipynb_checkpoints/

/results/a2c/*
/results/ppo/*
/results/dqn/*

!/results/a2c/*-good/
!/results/ppo/*-good/
!/results/dqn/*-good/

